<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BF2Statistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BF2Statistics.Properties.Settings>
            <setting name="SettingsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GamespyDBEngine" serializeAs="String">
                <value>Sqlite</value>
            </setting>
            <setting name="StatsDBEngine" serializeAs="String">
                <value>Sqlite</value>
            </setting>
            <setting name="ASP_DefaultPID" serializeAs="String">
                <value>29000000</value>
            </setting>
            <setting name="ASP_UnlocksMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASP_GameHosts" serializeAs="String">
                <value />
            </setting>
            <setting name="ASP_IgnoreAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ASP_MinRoundTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASP_AwardsReqComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ASP_SmocCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASP_GeneralCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASP_SpecialRankTenure" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ASP_DebugLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ASP_MinRoundPlayers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseGlobalSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientParams" serializeAs="String">
                <value>+fullscreen 1</value>
            </setting>
            <setting name="ShowServerConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeServerConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerForceAi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerFileMoniter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ASP_LocalIpCountryCode" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="LastStatsServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoginServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalASPRequests" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BF2S_Title" serializeAs="String">
                <value>BF2s Clone Leaderboard</value>
            </setting>
            <setting name="BF2S_CacheEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF2S_LeaderCount" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BF2S_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="GamespyDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="GamespyExtAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="GamespyEnableServerlist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamespyAllowExtServers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamespyServerDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockHostsFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedirectMode" serializeAs="String">
                <value>HostsIcsFile</value>
            </setting>
        </BF2Statistics.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
